<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sicnu.mapper.CardMapper">

    <!--查询所有学生的一卡通信息-->
    <select id="listAllCard" resultType="com.sicnu.pojo.CardInfo">
         SELECT
         s.stuNumber,
         s.stuName,
         s.stuDept,
         s.stuType,
         c.cardBalance,
         c.cardStatus
         FROM student s
         LEFT JOIN card c
         ON s.stuID = c.stuID
    </select>


    <!--根据学院类型，学生类型，审核状态查询学生信息 - 一卡通-->
    <select id="listStudentCardInfos" parameterType="map" resultType="com.sicnu.pojo.CardInfo">
        SELECT
        s.`stuNumber`,
        s.`stuName`,
        s.`stuDept`,
        s.`stuType`,
        c.`cardBalance`,
        c.`cardStatus`
        FROM
        student s
        LEFT JOIN card c
        ON s.stuID = c.stuID
        <where>
            <if test="params.stuDept!=null and params.stuDept!= ''">
                AND s.`stuDept` = #{params.stuDept}
            </if>
            <if test="params.stuType!=null and params.stuType!= ''">
                AND s.`stuType`  = #{params.stuType}
            </if>
            <if test="params.cardStatus!=null and params.cardStatus!= ''">
                AND c.`cardStatus` = #{params.cardStatus}
            </if>
        </where>
    </select>

    <!--根据学号查询某一学生一卡通详情-->
    <select id="getStudentByIdForCard" parameterType="String" resultType="java.util.Map">
        select
        s.`stuNumber`,
        s.`stuName`,
        s.`stuDept`,
        s.`stuType`,
        c.`cardBalance`,
        c.`cardStatus`
        FROM
        student s
        LEFT JOIN card c
        ON s.stuID = c.stuID
        <where>
            <if test="stuId!=null and stuId!=''">
                AND s.`stuNumber` = #{stuNum}
            </if>
        </where>
    </select>

    <!--审核一卡通状态-->
    <update id="doCheckCard" parameterType="String">
       update card set cardBalance=0,cardStatus=1
       where stuID=(select stuID from student where stuNumber=#{stuNumber})
    </update>


<!--
    &lt;!&ndash;分页查询所有一卡通状态&ndash;&gt;
    <select id="findAllByPage" resultType="com.sicnu.pojo.CardInfo">
      select
        s.`stuNumber`,
        s.`stuName`,
        s.`stuDept`,
        s.`stuType`,
        c.`cardBalance`,
        c.`cardStatus`
        FROM
         student s
        LEFT JOIN card c
         ON s.stuID = c.stuID
    </select>
-->
    <!--查询某个学生是否存在-->
    <select id="findStuByStuNumber" parameterType="String" resultType="com.sicnu.pojo.Student">
        select * from student where stuNumber=#{stuNumber}
    </select>

    <!--注销一卡通后将余额打到财务处账户-->
    <update id="cardForFinance" parameterType="String">
        UPDATE finance
        SET finance.`cardBalance`=(SELECT card.`cardBalance` FROM card WHERE card.`stuID`=(SELECT stuID FROM student WHERE stuNumber=#{stuNumber}))
        WHERE finance.stuID=(SELECT stuID FROM student WHERE stuNumber=#{stuNumber});
    </update>

    <!--查询一卡通余额-->
    <select id="cardBalance" parameterType="String" resultType="double">
        select cardBalance from card where stuID=(select stuID from student where stuNumber=#{stuNumber})
    </select>

    <!--向学生回复一卡通审核详情-->
    <insert id="sendMessage" parameterType="com.sicnu.pojo.Message">
        insert into message(messageID, sendID, title, content, messagedate, receiveID, msgStatus)
        values(#{messageID}, #{sendID}, #{title}, #{content}, #{messagedate}, #{receiveID}, #{msgStatus})
    </insert>

    <!---->





</mapper>