<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--namespace=绑定一个对应的mapper接口-->
<mapper namespace="com.sicnu.mapper.CheckCommitMapper">

    <!--select查询语句-->

    <!--对象中的属性可以换直接取出来-->
    <insert id="addCheckCommit" parameterType="com.sicnu.pojo.Checkcommit">
        insert into checkcommit (checkID,stuID,reason,commitdate,type)
        values(#{checkID},#{stuID},#{reason},#{commitdate},#{type});
    </insert>
    <update id="updateCheckCommit" parameterType="java.lang.String">
        update checkcommit set
        `stuId` = #{stuId},
        `reason` = #{reason},
        `type` = #{type}
        where checkId = #{checkId};
    </update>
    <select id="showCheckCommit" resultType="com.sicnu.pojo.Checkcommit">
        select * from checkcommit;
    </select>

</mapper>