<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--namespace=绑定一个对应的mapper接口-->
<mapper namespace="com.sicnu.mapper.FormMapper">

    <!--select查询语句-->

    <!--对象中的属性可以换直接取出来-->
    <select id="showFormByStudent" parameterType="String" resultType="com.sicnu.pojo.Student">
        select * from student where stuID=#{stuID};
    </select>
    <select id="showFormByProcess" parameterType="String" resultType="com.sicnu.pojo.Process">
        select * from process where stuID=#{stuID};
    </select>

</mapper>