<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sicnu.mapper.LibraryMapper">
    
    <!--查询图书馆借阅情况-->
    <select id="listAllLibrary" resultType="com.sicnu.pojo.LibInfo">
      SELECT s.`stuNumber`,s.`stuName`,s.`stuDept`,s.`stuType`,COUNT(*) AS allBook,l.`libStatus`
      FROM student s,book b ,lib l WHERE s.`stuID`=b.`stuID` AND l.`stuID`=b.`stuID` GROUP BY l.`stuID`,l.libStatus
    </select>

    <!--按条件分页查询-->
    <select id="listStudentLibInfos" parameterType="java.util.Map" resultType="com.sicnu.pojo.LibInfo">
        SELECT
        s.stuNumber,
        s.stuName,
        s.stuDept,
        s.stuType,
        count(*) AS allbook,
        l.libStatus,
        FROM
        student s
        LEFT JOIN lib l,book b
        ON s.stuID = b.stuID and l.stuID=b.stuID
        <where>
            <if test="params.stuDept!=null and params.stuDept!=''">
                AND s.stuDept = #{params.stuDept}
            </if>
            <if test="params.stuType!=null and params.stuType!=''">
                AND s.stuType = #{params.stuType}
            </if>
            <if test="params.financeStatus!=null and params.financeStatus!=''">
                AND f.financeStatus = #{params.financeStatus }
            </if>
        </where>
    </select>

    <!--查询某个学生存在-->
    <select id="findStuLibrary" parameterType="String" resultType="com.sicnu.pojo.LibInfo">
         SELECT s.`stuNumber`,s.`stuName`,s.`stuDept`,s.`stuType`,COUNT(*) AS allBook,l.`libStatus`
      FROM student s,book b ,lib l WHERE s.`stuID`=b.`stuID` AND l.`stuID`=b.`stuID` AND stuNumber=#{stuNumber} GROUP BY l.`stuID`,l.libStatus;
    </select>
    
    <!--查询每个人借阅图书详情-->
    <select id="bookDetail" resultType="java.util.Map" parameterType="String">
        select b.bookID,b.bookNum,b.bookName,b.returnStatus
         from book b where b.stuID = (select stuID from student where stuNumber=#{stuNumber})
    </select>

    <!--根据学号和图书Id审核归还情况-->
    <update id="checkLibrary">
        update book set book.returnStatus=1
          where bookID=#{bookId} and
            stuId=(select stuId from student where stuNumber=#{stuNumber})
    </update>


    <!--查询某学生借书还书数目情况-->
    <select id="needReturn" parameterType="String" resultType="java.lang.Integer">
        SELECT COUNT(*) AS sumbook FROM book
        WHERE returnStatus=0  AND book.stuID=(SELECT student.stuID FROM student WHERE stuNumber=#{stuNumber})
    </select>

    <!--查询某个学生是否存在-->
    <select id="findStuByStuNumber" parameterType="String" resultType="com.sicnu.pojo.Student">
        select * from student where stuNumber=#{stuNumber}
    </select>

    <!--根据最终归还情况确定图书馆审核状态-->
    <update id="changeStatus" parameterType="String" >
        update lib set lib.libStatus=1 where lib.stuID=(select stuID from student where stuNumber=#{stuNumber})
    </update>

    <!--查询是否上传论文-->
    <select id="findPaper" parameterType="String" resultType="String" >
           select paper from lib where lib.stuID=(select stuID from student where stuNumber=#{stuNumber})
    </select>

    <!--设置图书归还款 === 按照损坏程度(轻度损坏、一般损坏、严重损坏、丢失)-->
    <update id="updateBookPay">
         update book set pay=price*#{zhe} where bookId=#{bookId}
    </update>

    <!--计算通过审核后的汇总到财务处的缴费情况-->
    <update id="updateFinanceBook" parameterType="String">
        UPDATE finance SET libFine=(SELECT SUM(pay) FROM book WHERE book.stuID=(SELECT stuID FROM student WHERE stuNumber=#{stuNumber}))
        WHERE finance.stuID=(SELECT stuID FROM student WHERE stuNumber=#{stuNumber})
    </update>

    <!--计算这个人图书馆所有费用-->
    <select id="sumPayForLib" parameterType="String" resultType="double">
      SELECT SUM(pay) FROM book WHERE book.stuID=(SELECT stuID FROM student WHERE stuNumber=#{stuNumber})
    </select>

    <!--查询欠款书-->
   <select id="sumPayBook" parameterType="String" resultType="com.sicnu.pojo.Book">
       SELECT bookNum,bookName,pay FROM book
       WHERE book.stuID=(SELECT stuID FROM student WHERE stuNumber=#{stuNumber}) AND pay!=0
   </select>

    <!--向学生端回复图书馆审核详情-->
    <insert id="sendMessageByLib" parameterType="com.sicnu.pojo.Message">
         insert into message(messageID, sendID, title, content, messagedate, receiveID, msgStatus)
         values(#{messageID},#{sendID},#{title},#{content},#{messagedate},#{receiveID},#{msgStatus})
    </insert>

    <!--根据学号查询学生主键-->
    <select id="findStuIDByNumber" parameterType="String" resultType="string">
        select stuID from student where stuNumber=#{stuNumber}
    </select>

    <!--某本书的详情书名等+价格+在借状态-->
    <select id="detailBook" parameterType="String" resultType="java.util.Map">
        select bookID,bookNum,bookName,returnStatus,price,pay,s.stuNumber
        from book,student s where bookID=#{bookID} and book.stuID=s.stuID;
    </select>

    <!---->

</mapper>