<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--namespace=绑定一个对应的mapper接口-->
<mapper namespace="com.sicnu.mapper.MessageMapper">

    <!--select查询语句-->

    <!--    &lt;!&ndash;按ID查找反馈&ndash;&gt;-->
    <!--    <select id="findOneById" parameterType="java.lang.String" resultType="com.sicnu.pojo.Message">-->
    <!--        select * from message where `id` = #{messageId};-->
    <!--    </select>-->
    <!--发布反馈-->
    <insert id="sendMessage" parameterType="com.sicnu.pojo.Message">
        insert into message(messageID,sendID,title,content,messagedate,receiveID,msgStatus)
        values(#{messageID},#{sendID},#{title},#{content},#{messagedate},#{receiveID},#{msgStatus})
    </insert>
    <update id="setMessage">
        update message set content=#{content},title=#{title},msgStatus=0
        where messageID= #{messageId};
    </update>
    <!--删除已发布的反馈-->
    <delete id="deleteMessage" parameterType="String">
        delete from message where messageID = #{messageID};
    </delete>
    <!--显示反馈-->
    <select id="showMessageRead" resultType="com.sicnu.pojo.Message">
        select * from message where msgStatus = 2 and sendID = #{stuId};
    </select>
    <select id="showMessageUnRead" resultType="com.sicnu.pojo.Message">
        select * from message where msgStatus = 0;
    </select>
    <select id="findOneById" parameterType="java.lang.String" resultType="com.sicnu.pojo.Message">
        select * from message where messageID = #{messageID};
    </select>
    <select id="getClerkID" resultType="java.lang.String">
        select id from role where name = #{name};
    </select>
    <select id="getIdByName" resultType="java.lang.String">
        select id from role where name = #{name};
    </select>
    <select id="findMessageBySendId" resultType="com.sicnu.pojo.Message">
        select * from message where sendID = #{stuNumber};
    </select>
    <select id="findMessageByRecvId" resultType="com.sicnu.pojo.Message">
        select * from message where receiveID = #{stuNumber};
    </select>

    <!--  <insert id="saveMessage" parameterType="com.sicnu.pojo.Message">
          insert into message(messageID,sendID,receiveID,content,title,messagedate,msgStatus)
          VALUES(#{},#{},#{},#{},#{},#{},#{})
      </insert>-->
</mapper>