<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--namespace=绑定一个对应的mapper接口-->
<mapper namespace="com.sicnu.mapper.RefreshTokenMapper">

    <delete id="deleteAllByUserId" parameterType="java.lang.String">
        delete from refreshtoken where userId = #{clerkId};
    </delete>

    <insert id="insertRefreshToken" parameterType="com.sicnu.pojo.Refreshtoken">
        insert into refreshtoken(id,refreshToken,userId,tokenKey,createTime,updateTime)
        values(#{id},#{refreshToken},#{userId},#{tokenKey},#{createTime},#{updateTime});
    </insert>

    <select id="findOneByTokenKey" parameterType="java.lang.String" resultType="com.sicnu.pojo.Refreshtoken">
        select * from refreshtoken where tokenKey = #{tokenKey};
    </select>

</mapper>